body {
    font-family: sans-serif;
    width: 80%; 
    margin: auto;
    margin-bottom: 56px;
}
p,li {
    font-size: 20px;
}
h1{
    color: #245513;
    background-color: rgb(198, 229, 198);
    text-align: center; 
    padding: 60px;
   
}
.dados{
    text-align: center;

}
h2{
    color: #245513;
    padding: 10px;
    border-bottom: 2px solid #245513;
    background-color: rgb(198, 229, 198);

}
a:hover{
    /*Quando passar o mouse mudar de cor*/
   text-decoration: none;
   color: #245513;
} 
.menu{
    text-align: right;/*Como o elementoele é de li 
    é de linha logicamente que podemos alinhar usando text-align*/
}
/* (li) elemento de bloco como eu sei porque ela tem quebra de linha*/
.menu li{
    list-style: none;
    background-color:  rgb(198, 229, 198);
    /*display: inline; Elementos Um do lado do outro*/
    display: inline-block; /*Com esta configuração eu consigo dar tamanho*/
    padding: 0;
}
.menu a{
    background-color: rgb(198, 229, 198);
    padding: 16px;
    display: block; /*Com esta configuraçãoeu consigo atribuir 
    Um elemento linha para um elemento de bloco que toda área agora 
    Consegue se tornar o ambiente de botão
    aceitandoum ambiente espaço 16 Pixel no caso*/
}
.menu a:hover{
    background-color: #32761c;
}