a[target="_blank"]::after{
    content: url(imagens/newWindow-icon.png);
    margin-left: 5px;
}


a[href$=".pdf"]::before{
    content: url(imagens/pdf-icon.gif);
    margin-right: 5px;
}

input[type="checkbox"]:checked+label{
  color:#008000;;

} 
input[type="checkbox"]:not(:disabled)
+label{
    color:#801e00;
  
  } 
  input[type="checkbox"]:disabled
  +label{
      color:blue;
    
    }

li li:nth-child(3){
    background-color: blueviolet;
}